.settingSidebarTitle{
    display: flex;
    gap: 1vh;
    justify-content: center;
    padding-top: 10vh;
    align-items: center;
}

.settingSidebarAvatar{
    background-color: #24A0ED;
    padding: 1vh;
}

.settingSidebarAvatar span{
    font-size: 2vh;
    font-weight: bold;
    color: wheat;
}

.settingSidebarUsername{
    font-size: 4vh;
    font-weight: bold;
}



.settingSidebarbuttons{
    display: flex;
    flex-direction: column;
    gap: 10vh;
    justify-content: space-evenly;
    align-items: center;
    padding: 5vh;
    padding-top: 15vh;
} 

.settingSidebarbuttons button{
    font-size: 5vh;
    font-weight: bold;
} 

.settingSidebarbuttons button:hover{
    transform: scale(1.1);
}

.settingDrawerButton{
    margin-left: 1vh;
    margin-top: 1vh;
    padding: 1.5vh;
}

.settingDrawerButton:hover{
    transform: scale(1.3);
}

