@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/red.css';
@import '@radix-ui/colors/violet.css';

.settingLog{
    display: flex;
    justify-content: center;
    align-items: center;
}

.settingLogCard{
    width: 50vw;
    min-height: 50vh;
    border-color: #24A0ED;
    border-style: solid;
    border-width: 1vh;
    border-radius: 2vh;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:3vh;
}   

.settingLogCard div{
    font-size: 2vh;
}

.settingLogAvatar{
    background-color: #24A0ED;
    padding: 4vh;
    font-size: 5vh;
    margin-left: 19vw;
}

.settingLogAvatar span{
    font-size: 5vh;
    font-weight: bold;
    color: wheat;
}

.settingLogUsername{
    font-size: 3vh;
    font-weight: bold;
    color: #24A0ED;
}

.settingLogButton{
    background-color: #24A0ED;
    color: wheat;
    font-size: 3vh;
    font-weight: bold;
    border-radius: 1vh;
    padding: 3vh;
    border-color: white;
    border-width: .3vh;
    border-style: solid;
    height: fit-content;
    width: fit-content;
}

.settingLogButton:hover{
    transform: matrix(1.1,0,0,1.1,0,0);
}

